
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
    height: 50em;
    width: 100%;
}


.center {
	margin: 0 auto;
	margin-left: 20%;
	margin-right: 20%;
}

#mapoverlay {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /*z-index: 1000;
    display: none;*/
}

.result {
    text-align: justify;
    margin-top: 30px;
}

#timetaken {
    margin-top: 15px;
    color: gray;
    font-size: 12px;
    background: black;
    padding: 17px;
    width: 100%;
}

#go {
    z-index: 1000;
}

#legend {
    background: white;
    padding: 10px;
  }
.labels {
   color: red;
   background-color: white;
   font-family: "Lucida Grande", "Arial", sans-serif;
   font-size: 10px;
   font-weight: bold;
   text-align: center;
   width: 60px;     
   border: 2px solid black;
   white-space: nowrap;
 }